@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

.App {
  text-align: center;
}

body {
  background-image: url(./Images/background.jpg);
  height: 100%;
}

.App-header { 
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 35px;
  font-family: 'Megrim', cursive;
  color:rgb(174, 203, 230);
  background-color: #0e1820d5;
  border-radius: 24px 24px 24px 24px;
  /* text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.678); */
  height: 100px;
  padding: 25px;
  margin: 20px;
  box-shadow: 0px 7px 10px rgba(3, 3, 3, 0.68);
}

h1 {
  font-size: 75px;
  position: relative;
  font-family: 'Megrim', cursive;
  animation: title;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes title {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

.port {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("./Images/port_image_chicago.jpeg");
  background-size:cover;
  padding-top: 20px;
  margin-top: 20px;
  border: 8px solid#162734d5;
  box-shadow: 0px 7px 10px rgba(3, 3, 3, 0.68);
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: right;
}

a {
  text-decoration: none;
  padding: 10px;
  color:rgb(174, 203, 230);
  font-size: 30px;
  font-family: 'Megrim', cursive;
  font-weight: lighter;
  margin-bottom: 50px;   
}


.App-about {
  padding-top: 40px;
  width: 600px;
  height: 300px;
  box-shadow: 0px 7px 10px rgba(3, 3, 3, 0.68);
  border-radius: 50px;
  background: linear-gradient(180deg,#415c74d5 5%, rgb(174, 203, 230));
  color: rgb(5, 20, 20);
}

p {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.projectContainers {
    width: 420px;
    height: 400px;
    border: 10px solid #162734d5; 
    box-shadow: 0px 7px 10px rgba(3, 3, 3, 0.68);
    border-radius: 24px;
}
