@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");




body {
  background: linear-gradient(to right bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));  
}




/* ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  font-size: 35px;
}


a {
  text-decoration: none;
  padding: 50px;
  color:rgb(174, 203, 230);
  font-size: 30px;
  font-family: 'Megrim', cursive;
  font-weight: lighter;
  margin-bottom: 50px;   
} */



p {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 40px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}








@tailwind base;
@tailwind components;
@tailwind utilities;